@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
    background-color: white;
    margin: 0;
    padding: 0;
}
    
.partone{
    text-align: center;
    background-image: url(../images/backgrd.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    text-align: center;
    font-size: 15px;
}


.services{
    text-align: center;
    background-image: url(../images/b2.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;

}
.parttwo{
    text-align: center;
    font-size: 15px;
}
.ourservices{
    text-align: center;
    padding-top: 30px;
}
#design-icon{
    text-align: left;
}
.portfolio h2{
    align-items: center;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}