@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
    
.partone{
    text-align: center;
    background-image: url(../images/backgrd.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}